<a href="https://colab.research.google.com/github/pagfarias/exercicios-tera/blob/main/Estruturas_de_repeti%C3%A7%C3%A3o_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estruturas de repetição - Exercícios

Crie um código que imprima todos os nomes da lista abaixo

In [ ]:
nomes = ['Felipe','Marcela','Heloisa','Bruno','Vitoria','Barbara','Andreza','Bernardo']

In [ ]:
#@title  { display-mode: "form" }
for nome in nomes:
  print(nome)

## Da lista de números abaixo, crie uma estrutura de repetição usando `for` encadeada com uma estrutura condicional que imprima:

* `É múltiplo de 3` se o número for múltiplo de 3
* `É múltiplo de 5` se o número for múltiplo de 5
* `É outro número` caso contrario

In [ ]:
numeros_ex1 = [2,3,5,7,8,10,12,14,15,17]

In [ ]:
#@title  { display-mode: "form" }
for i in numeros_ex1:
  if i % 3 == 0:
    print("É múltiplo de 3")
  elif i % 5 == 0:
    print("É múltiplo de 5")
  else:
    print('É outro número')

## Da lista de números abaixo, crie uma nova lista que contenha apenas os números múltiplos de 7

In [ ]:
numeros_ex2 = [4,5,7,8,10,14,17,21,31,45,49,70]

In [ ]:
#@title  { display-mode: "form" }
nova_lista = []

for i in numeros_ex2:
  if i % 7 == 0:
    nova_lista.append(i)

nova_lista

In [ ]:
#@title  { display-mode: "form" }

#Com list comprehension
[i for i in numeros_ex2 if i % 7==0]

### **for** loop com **f-string**. Pegue a lista de nomes abaixo e com um `for` loop, imprima: "Olá, **nome**!". Substituindo o nome por cada elemento da lista

In [ ]:
#Rode essa célula
nomes = ['Sócrates', 'Pitágoras', 'Aristóteles', 'Platão', 'Parmênides']

In [ ]:
#@title  { display-mode: "form" }

for nome in nomes:
  print(f"Olá, {nome}!")

### (Desafio) Dado a lista `numeros` abaixo. Faça um `for` loop que conte quantos são os números pares e quantos são os números ímpares

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numeros_impares = 0
numeros_pares = 0

In [ ]:
#@title  { display-mode: "form" }
for x in numeros:
  if x % 2 == 0:
    numeros_pares = numeros_pares + 1
  else:
    numeros_impares = numeros_impares + 1
print(f"Quantidade de numeros pares: {numeros_pares}")
print(f"Quantidade de numeros impares: {numeros_impares}")