In [2]:
import pandas as pd
import seaborn as sns

In [3]:
#Importando dataset
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [5]:
df = pd.read_excel('Notas.xlsx')

In [6]:
df.head()

,genero,etnia,escolaridade dos pais,almoco,simulado,nota matematica,nota literatura,nota redacao
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1) Qual a quantidade de linhas e colunas desse dataframe?

In [7]:
df.shape[0]

1000

In [8]:
df.shape[1]

8

# 2) Quais os tipos das váriaveis desse dataframe?

In [9]:
df.dtypes

genero                   object
etnia                    object
escolaridade dos pais    object
almoco                   object
simulado                 object
nota matematica           int64
nota literatura           int64
nota redacao              int64
dtype: object

# 3) Há valores nulos nesse dataframe?

# 4) Crie um novo dataframe chamado "df1", esse dataframe deve possuir somente as colunas "genero" e "almoco"

# 5) Ordene o dataset de forma crescente de acordo com a nota de redação

# 6) Qual é a maior nota em matemática?

# 7) Qual é a menor nota em literatura?

# 8) Qual é a soma de todas as notas em redacao?

# 9) Qual é a nota em matemática do aluno de index 502?

# 10) Quantos grupos étnicos existem no dataframe?

# 11) Dentro da coluna etnia, qual é o grupo que possui a maior quantidade de pessoas?

# 12) Qual é o index da aluna que tirou a menor nota em literatura?

# 13) Qual é a escolaridade mais comum entre os pais dos alunos?

# 14) Printe a correlação entre as variáveise identifique  a variável que tem a maior correlação positiva com as notas em redação

# 15) Realize um groupby e agrupe a coluna "escolaridade dos pais". Após agrupado, verifique qual é a maior nota média em matemática dentre os grupos.

# 16) Plote um gráfico de barras que compara a média da nota em literatura de pessoas que tem almoço standard com as que tem almoço free/reduced

# 17) Crie uma nova coluna chamada "media geral", ela deve ser uma média das notas de matemática, literatura e redação.

# 18) Plote um histograma com as notas da media geral

# 19) Verifique qual é a média geral de pessoas que completaram o simulado e compare com a média geral de pessoas que não completaram o simulado.

# 20) O diretor da escola decidiu dar 10 pontos na média geral para pessoas que completaram o simulado. Crie um código que faça essa operação de forma que nenhuma pessoa exceda os 100 pontos.